
.nav-bar-container{
    background-color:rgb(248, 248, 248);
    flex-direction: row;
    height:70px;
    display:flex;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.nav-bar-container img{
    margin-left:30px;
}

.Navitems{
    margin-left:550px;
    display:flex;
    flex-direction: row;
    text-transform: uppercase;
}

.Navitems a{
    margin-top:15px;
    padding:10px;
}

.Navitems a:hover{
    color:blue;
}